.graph{
    border: solid;
    height: 75vh;
    margin-left: 20vh;
    margin-right: 20vh;
    /* text-align: center; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

.slider{


}

h1{
    color: white;
    background: gray;
    margin : 0;
}

.bar{
    border-style: solid;
    /* float: left; */
    /* position: absolute;
    bottom: 0px; */
    background: yellow;
}
.compare{
    background: #008080;
}
.selected{
    background: white;
}
.pass{
    background: green;
}

.final{
    background: purple;
}
